// Primary Buttons
.button-primary {
  @include button-primary-base;
  @include button-primary-green;

  &--blue {
    @include button-primary-blue;
  }

  &--red {
    @include button-primary-red;
  }

  &--light {
    @include button-primary-light;
  }

  &--inverted {
    @include button-primary-inverted;
  }

  &--medium {
    @include button-primary-medium;
  }

  &--wide {
    width: 28rem;
    max-width: 100%;
  }

  &--block {
    display: block;
    width: 100%;
  }
}


// Secondary buttons
.button-secondary {
  @include button-secondary-base;

  &--inverted {
    @include button-secondary-inverted;

    &.button-secondary--play {
      @include button-secondary-inverted-play;
    }
  }

  &--play {
    @include button-secondary-play;
  }
}

// Tertiary buttons
.button-tertiary {
  @include button-tertiary-base;

  &--red {
    color: $color-secondary-red;
  }

  &--green {
    color: $color-secondary-green;
  }

  &--blue {
    color: $color-primary-700;
  }
}
