.container {
  width: 100%;
  max-width: 158rem;
  margin: 0 auto;
  padding: 0 4.8rem;

  @include mq(sm, max) {
    padding: 0 2.4rem;
  }

  &--content {
    max-width: 135.6rem;
  }

  &--box {
    max-width: 154rem;
  }
}
