.footer {
  padding: 16.2rem 0 1.6rem 0;
  background-color: $color-bck-dark;

  @include mq(sm, max) {
    padding: 5.6rem 0 1.6rem 0;
  }

  &__grid {
    display: grid;

    grid-row-gap: 12rem;
    grid-gap: 21.6rem;
    grid-template-columns: repeat(2, 1fr);
    @include mq(lg, max) {
      grid-row-gap: 4.8rem;
      grid-gap: 4.8rem;
    }
    @include mq(md, max) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    @include font-title-footer;
  }

  &__text {
    max-width: 38.4rem;

    @include font-text-footer;
  }

  &__info {
    @include mq(md, max) {
      margin-bottom: 4.8rem;
    }
  }

  &__policy {
    margin-top: 5.6rem;
  }

  &__copyright {
    line-height: 2.4rem;
    margin-top: 4.2rem;
  }
}
