.philosophy {
  padding: 16rem 0;
  background-color: $color-white;

  @include mq(md, max) {
    padding: 8rem 0;
  }

  .section__heading {
    max-width: 103.4rem;
    margin-bottom: 3.2rem;
  }
}
