.explore {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 80px;

  &-content {
    width: 40%;
    padding-right: 40px;

    @include mq(lg, max) {
      width: 100%;
    }
  }

  &-button-wrap {
    margin-top: 80px;

    @include mq(lg, max) {
      margin-top: 40px;
    }

    a {
      margin-right: 20px;
    }
  }

  &-texture {
    position: relative;
    width: 40%;
    height: 720px;
    background-image: url(~@/assets/img/spheres/sphere-bg.png);
    background-repeat: no-repeat;
    background-position: center;

    @include mq(lg, max) {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 540px;
    }

    img {
      position: absolute;
      left: 50%;
    }

    &-current {
      top: calc(50% + 90px);
      transform: translate(-50%, -50%);
    }

    &-prev {
      top: -40px;
      transform: translateX(-50%);
    }

    &-next {
      top: 540px;
      transform: translateX(-50%);
    }

    &-number {
      margin-bottom: 40px;
      color: #0a0d27;
      font-size: 64px;
      font-weight: 700;
    }

    &-title {
      margin-bottom: 20px;
      color: #0a0d27;
      font-size: 14px;
      font-weight: 700;
    }
  }

  &-control {
    width: 20%;
    text-align: center;

    @include mq(lg, max) {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      padding: 0 90px;
    }

    a {
      display: inline-block;
      border-radius: 50%;
    }

    &-prev {
      margin-bottom: 40px;

      @include mq(lg, max) {
        margin-bottom: 0;
      }

      img {

        @include mq(lg, max) {
          position: absolute;
          top: 50%;
          left: 0;
          transform: rotateZ(-90deg);
        }
      }
    }

    &-next {
      margin-top: 40px;

      @include mq(lg, max) {
        margin-top: 0;
      }

      img {
        transform: rotateX(180deg);
      
        @include mq(lg, max) {
          position: absolute;
          top: 50%;
          right: 0;
          transform: rotateX(180deg) rotateZ(90deg);
        }
      }
    }
  }
}