.section {
  &__heading {
    text-align: left;

    &--centered {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    &--perexed {
      margin-bottom: 4rem;
    }
  }

  &__title {
    @include font-h1;

    .section__heading--inverted & {
      color: $color-white;
    }
  }

  &__subtitle {
    margin-bottom: 2.4rem;

    @include font-h3;

    .section__heading--inverted & {
      color: $color-primary-500;
    }
  }
}
