.services {
  padding: 20.8rem 0 70.8rem;
  background-color: $color-bck-light;

  @include mq(xl, max) {
    padding-bottom: 20.8rem;
  }

  @include mq(md, max) {
    padding: 10.4rem 0;
  }

  .section__title {
    margin-bottom: 20rem;

    &--perexed {
      margin-bottom: 4rem;
    }
    
    @include mq(md, max) {
      margin-bottom: 10.4rem;
    }
  }

  .section__perex {
    max-width: 620px;
    margin: 0 auto;
    margin-bottom: 20rem;

    @include mq(md, max) {
      margin-bottom: 10.4rem;
    }
  }
}
