$toggle-width: 18.4rem;
$toggle-height: 3.2rem;

.toggle {
  display: inline-block;
  text-align: center;

  &__fieldset {
    position: relative;
    display: inline-block;
    border-radius: $br-round;
    background-color: $color-primary-900;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  label {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: $toggle-height;
    position: relative;
    z-index: 1;
    display: inline-block;
    float: left;
    width: $toggle-width/2;
    height: $toggle-height;
    cursor: pointer;
    transition-delay: .1s;
    color: $color-primary-500;

    @include transition-base(color font-weight);
  }

  input[type="radio"]:checked + label {
    font-weight: 700;
    color: $color-primary-900;
  }

  &__switch {
    position: absolute;
    top: 0;
    left: 0;
    width: $toggle-width/2;
    height: $toggle-height;
    border-radius: $br-round;
    background-color: $color-primary-100;

    @include transition-base(transform);
  }

  input[type="radio"]:checked + label + .toggle__switch,
  input[type="radio"]:checked + label:nth-of-type(n) + .toggle__switch {
    transform: translateX($toggle-width/2);
  }
}
