.toggle {
  display: flex;
  justify-content: stretch;
  max-width: 18.4rem;
  color: $color-white;
  border-radius: 10rem;
  background-color: $color-primary-800;

  input {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    border: 0;

    &:checked + label {
      background-color: $color-white;

      @include font-filter-active;
    }
  }

  label {
    flex: 1;
    height: 3.2rem;
    padding: 0 .8rem;

    @include button-base;
    @include font-h4-lowercase;

    &:hover {
      cursor: pointer;
    }
  }
}
