@mixin h1 {
  font-family: $font-primary;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33333;
  color: $color-primary-900;
}

@mixin h2 {
  font-family: $font-primary;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.33333;
  color: $color-primary-900;
}

@mixin h3 {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: $color-primary-600;
}

@mixin h4 {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7143;
  text-transform: uppercase;
  color: $color-primary-600;
}

@mixin name {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: $color-primary-700;
}

@mixin placeholder {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  color: $color-primary-600;
}

@mixin filter {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7143;
  color: $color-primary-700;
}

@mixin filter-active {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7143;
  color: $color-primary-700;
}

@mixin text {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4286;
  color: $color-primary-600;
}

@mixin detail {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7143;
  color: $color-primary-500;
}
