@mixin font-h1 {
  font-family: $font-primary;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.33333;
  color: $color-primary-900;
}

@mixin font-h2 {
  font-family: $font-primary;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.33333;
  color: $color-primary-900;
}

@mixin font-h3 {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: $color-primary-600;
}

@mixin font-h4 {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7143;
  text-transform: uppercase;
  color: $color-primary-600;
}

@mixin font-name {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: $color-primary-700;
}

@mixin font-placeholder {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  color: $color-primary-600;
}

@mixin font-filter {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7143;
  color: $color-primary-700;
}

@mixin font-text {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4286;
  color: $color-primary-600;
}

@mixin font-detail {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7143;
  color: $color-primary-500;
}

@mixin font-button-primary {
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

@mixin font-button-secondary {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7143;
}

@mixin font-button-tertiary {
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7143;
  letter-spacing: .075rem;
  text-transform: uppercase;;
}
