// Primary colors
$color-white: #fff;
$color-primary-100: #fbfbff;
$color-primary-200: #f8f9fe;
$color-primary-300: #f2f3f9;
$color-primary-400: #dde0ee;
$color-primary-500: #c3c7df;
$color-primary-600: #9092ba;
$color-primary-700: #384075;
$color-primary-800: #1f2345;
$color-primary-900: #0a0c28;

// Secondary colors
$color-secondary-green: #46bd7f;
$color-secondary-red: #e44542;
$color-secondary-purple: #98b1fa;
$color-secondary-salmon: #ec807f;
$color-secondary-dark: #2c3050;
