// Primary colors
$color-white: #fff;
$color-primary-100: #fbfbff;
$color-primary-200: #f8f9fe;
$color-primary-300: #f2f3f9;
$color-primary-400: #dde0ed;
$color-primary-500: #c3c7de;
$color-primary-600: #9093b9;
$color-primary-700: #394173;
$color-primary-800: #1f2444;
$color-primary-900: #0a0d27;

// Secondary colors
$color-secondary-green: #4cbc81;
$color-secondary-red: #e24747;
$color-secondary-purple: #99b3f8;
$color-secondary-salmon: #ea8181;
$color-secondary-dark: #2c314f;

// Semantic names
$color-bck-dark: $color-primary-800;
$color-bck-medium: $color-primary-300;
$color-bck-light: $color-primary-100;
